<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-card *ngFor="let item of alarms" class="{{item.partOfDay}}">
    <ion-card-content>
      <ion-row><p class="alarm-time">{{item.time}}</p></ion-row>
      <ion-row>
        <p class="days">{{item.days}}</p>
        <ion-toggle color="primary" checked="{{item.isActive}}"></ion-toggle>
      </ion-row>
      <ion-row><p class="alarm-label"><b>{{item.label}}</b></p></ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
